<a href="/bands">Back to Main Bands Page</a>
<h1>BAND TITLE PLACEHOLDER</h1>

<h2>Member List</h2>

<a href="/bands/{{bandId}}/members/create" class="btn btn-primary">Add Member</a>
   
<table class="table">
  <thead>
    <tr>
      <th scope="col">Member Name</th>  
      <th scope="col">Member Email</th>
    </tr>
  </thead>

  <tbody>
    {{#each members}}

    <tr>      
        <td><a href="/bands/{{bandId}}/members/{{_id}}">{{memberName}}</a></td>
        <td><p>{{memberEmail}}</p></td>
    </tr>

    {{/each}}
  </tbody>

</table>









