<a href="/bands/{{bandId}}/gigs">Back to Gigs Page</a>

<h1 class="band-name">{{band.bandName}}</h1>

<h2 class="text">{{gig.gigName}}</h2>

    <div>
        <img src="{{gig.imgLink}}" alt="Image of {{gig.gigName}}" class="gig-image"/>
    </div>

    <h4 class="text">Type of Performance</h4>
    <p class="text">{{gig.typeOfPerformance}}</p>

    <h4 class="text">Event Date</h4>
    <p class="text">{{gig.dateOfGig}}</p>

    <h4 class="text">Description</h4>
    <p class="text desc">{{gig.gigDescription}}</p>

<a href="/bands/{{bandId}}/gigs/{{gig._id}}/edit" class="btn btn-primary edit-gig-btn">Edit Gig</a>

<form action="/bands/{{bandId}}/gigs/{{gig._id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE"> 
    <input type="hidden" name="_token" value="the_token">
    <button type="submit" class="btn btn-primary delete" 
    onclick="if(!confirm('Are you sure?')) { return false }"><span>Delete Gig</span></button>
</form>

 

