<a href="/bands/{{bandId}}/gigs">Back to Gigs Page</a>
<h1>{{band.bandName}}</h1>

<a href="/bands/{{bandId}}/gigs/{{gig._id}}/edit">Edit Gig</a>

<h2>{{gig.gigName}}</h2>

    <h3>Type of Performance</h3>
    <p>{{gig.typeOfPerformance}}</p>

    <h3>Event Date</h3>
    <p>{{gig.dateOfGig}}</p>

    <h3>Description</h3>
    <p>{{gig.gigDescription}}</p>

    
<form action="/bands/{{bandId}}/gigs/{{gig._id}}?_method=DELETE" method="post">
    <button type="submit" class="btn btn-primary">Delete Gig</button>
</form>



