<a href="/bands/{{bandId}}">Back to Band Page</a>
<h1>{{bandId.bandName}}</h1>

<h2>Gig List</h2>

<a href="/bands/{{bandId}}/gigs/create" class="btn btn-primary">Add Gig</a>
   
<table class="table">
  <thead>
    <tr>
      <th scope="col">Gig Name</th>  
      <th scope="col">Gig Date</th>
      <th scope="col">Type of Performance</th>
      <th scope="col">Description</th>
      {{!-- <th scope="col">ID</th> --}}
    </tr>
  </thead>

  <tbody>
    {{#each gigs}}

    <tr>      
        <td><a href="/bands/{{bandId}}/gigs/{{_id}}">{{gigName}}</a></td>
        <td><p>{{dateOfGig}}</p></td>
        <td><p>{{typeOfPerformance}}</p></td>
        <td><p>{{gigDescription}}</p></td>
        {{!-- <td><p>{{_id}}</p></td> --}}
    </tr>

    {{/each}}
  </tbody>

</table>









