<a href="/bands">Back to Bands Page</a>
<h1>{{band.bandName}}</h1>

<a href="/bands/{{band._id}}/edit">Edit Band</a>

<h4>Band Name</h4>
<p>{{band.bandName}}</p>

<h4>Band ID</h4>
<p>{{band._id}}</p>
    



<a href="/bands/{{band._id}}/gigs" class="btn btn-primary">Band Gigs</a>

<a href="/bands/{{band.id}}/members" class="btn btn-primary">Members List</a>

<form action="/bands/{{band._id}}?_method=DELETE" method="post">
    <button type="submit" class="btn btn-primary">Delete Band</button>
</form>




{{!-- <h3>Gigs</h3>

<ul>
    {{#each gig}}
        <li>{{gigName}}</li>
    {{/each}}

</ul> --}}




