<a href="/bands">Back to Band List</a>

<a href="/bands/{{band._id}}/gigs" class="btn btn-primary gig-list-btn">Gig List</a>
<a href="/bands/{{band.id}}/members" class="btn btn-primary member-list-btn">Member List</a>

<h1 class="band-name">{{band.bandName}}</h1>

<div>
    <img src="{{band.imgLink}}" alt="Image of {{band.bandName}}" class="band-image"/>
</div>

<h4 class="text">About the Band</h4>
<p class="text">{{band.aboutBand}}</p>
    
<a href="/bands/{{band._id}}/edit" class="btn btn-primary edit-band-btn">Edit Band</a>

<form action="/bands/{{band._id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE"> 
    <input type="hidden" name="_token" value="the_token">
    <button type="submit" class="btn btn-primary delete" 
    onclick="if(!confirm('Are you sure?')) { return false }"><span>Delete Band</span></button>
</form>





{{!-- <h3>Gigs</h3>

<ul>
    {{#each gig}}
        <li>{{gigName}}</li>
    {{/each}}

</ul> --}}




