<a href="/bands">Back to Band List</a>

<a href="/bands/{{band._id}}/gigs" class="btn btn-primary">Gig List</a>
<a href="/bands/{{band.id}}/members" class="btn btn-primary">Member List</a>

<h1 class="band-name">{{band.bandName}}</h1>

<a href="/bands/{{band._id}}/edit">Edit Band</a>

<div>
    <img src="{{band.imgLink}}" alt="Image of {{band.bandName}}" class="band-image"/>
</div>

<h4 class="text">About the Band</h4>
<p class="text">{{band.aboutBand}}</p>
    



<form action="/bands/{{band._id}}?_method=DELETE" method="post">
    <button type="submit" class="btn btn-primary">Delete Band</button>
</form>




{{!-- <h3>Gigs</h3>

<ul>
    {{#each gig}}
        <li>{{gigName}}</li>
    {{/each}}

</ul> --}}




