<a href="/bands/{{band._id}}">Back to Band Page</a>
<form method="POST" action="/bands/{{band._id}}?_method=PUT">

  <div class="form-group">
    <label for="bandName" class="bandName">Band Name</label>
      <input 
        type="text" 
        id="bandName" 
        name="bandName"
        value="{{band.bandName}}"
      />
  </div>

  <div class="form-group">
    <label for="imgLink" class="img-link">Band Picture</label>
    <input 
      type="text" 
      id="img-link" 
      name="imgLink"
      value="{{band.imgLink}}"  
    > 
  </div>

  <div class="form-group">
    <label for="aboutBand" class="aboutBAnd">About the Band</label>
      <input 
        type="text" 
        id="aboutBand" 
        name="aboutBand"
        value="{{band.aboutBand}}"
      />
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>

</form>
